
body {
    
    color: #313131;
    font-family: "Times New Roman", serif;
    background-color: #673ab7;
    background-color: linear-gradient(
      45deg,
      rgba(103,58,183,1) 0%,
      rgba(138,34,170,1) 100%
    );
  }
.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b07bec; 
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 20px;
}

.searchbar h1 {
    color: #333; 
    margin-bottom: 10px; 
}

.searchbar form {
    display: flex; 
    width: 50%; 
}

.searchbar input[type="text"] {
    flex-grow: 1; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    margin-right: 10px;
}

.searchbar input[type="submit"] {
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none; 
    background-color: #333; 
    color: #fff; 
    cursor: pointer; 
}

.searchbar input[type="submit"]:hover {
    background-color: #444; 
}



.book_list h2 {
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    justify-content:baseline; 
    background-color: linear-gradient(
      45deg,
      rgba(103,58,183,1) 0%,
      rgba(138,34,170,1) 100%
    );
}

.cards .card {
    border: 1px solid #000000;
    background-color: cyan;
    border-radius: 5px;
    padding: 10px;
    transition: transform .2s;
}

.cards .card:hover {
    transform: scale(1.05);
}

.cards .card img {
    max-width: 100%;
    height: auto;
}

.søkt {
    font-size: 1.2em;
    color: #333;
}